.btn-outline-success {
  color:chocolate;
  border:chocolate;
}

.btn-outline-success:hover {
  background-color:chocolate;
  color:white;
  border-color:chocolate;
  
}

.img-resize{
  min-width:100%
 min-height:50%;
}

footer{
  background-color:black;
  color:white;
}

.first-line {
  border-bottom: 1px solid white;
}

.first-line a {
  color:white;
 text-decoration:none;
}

.second-line a {
  color:white;
 text-decoration:none;
}

@media screen and (max-width:48rem) {
  .first-line {
    text-align:center;
  }
}

@media screen and (max-width:48rem) {
  .second-line {
     padding: 0 2rem;
  }
}

.third-line {
  display:none;
  
}

@media screen and (max-width:48rem) {
.third-line {
  display:block;
  text-align:center;
  }
}

.logo-string {
  font-size : 24px;
  margin-right:50px;
  margin-left:30px;
}

.nav-string {
  font-size : 18px;
}

.third-color {
  color:black;
}

.card-item {
height:15rem;
object-fit:cover;
}